<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <input type="file" id='photo' multiple>
    <button id="submit">Submit</button>
</body>
<script>
    let data = document.querySelector('#photo');
    let button = document.querySelector('#submit');
    button.addEventListener('click',()=>{
        let formdata = new FormData();
        //let files = data.files;
        for(const file of data.files){
            formdata.append('photo[]',file);
        }
        let xhr = new XMLHttpRequest();
        xhr.open("post",'upload.php');
        xhr.send(formdata);
        //alert('working');
    })
</script>
</html>